services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '80:3000'
    environment:
      BASE_PATH: /dev-toolbox # optional, this is an example.
    networks:
      - basenet

networks:
  basenet:
