.image-helper-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image-resizer-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.image-controls-container {
	display: flex;
	flex-direction: column;
	width: 200px;
	padding: 2rem;
	gap: 1rem;
}

.image-resizer-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
