.timeline-container {
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timeline {
  display: flex;
  height: 30px;
  border-radius: 1rem;
  width: 100%;
  background-color: var(--background);
  position: relative;
  overflow: hidden;
}

.progress-indicator {
  position: absolute;
  height: 30px;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #00000077;
  transition: width 1s linear;
}

.timeline-segment {
  color: var(--font-color);
  text-align: center;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.timeline-segment.completed {
  background-color: var(--background);
  color: var(--background);
}

.timeline-segment.session {
  background-color: var(--primary-600);
}

.timeline-segment.shortBreak {
  background-color: var(--primary-300);
}

.timeline-segment.longBreak {
  background-color: var(--primary-200);
}
