.levenshtein-table {
    width: 100%;
}

.column1 {
    width: 20%;
    padding: max(10px, 1%);
}

.column2 {
    width: 50%;
}

.column3 {
    width: 30%;
    text-align: center;
}

.target-field {
    background-color: var(--foreground);
    border-color: #989898;
}