.binary-helper-container input[type="number"]::-webkit-inner-spin-button,
.binary-helper-container input[type="number"]::-webkit-outer-spin-button {
	opacity: 1;
}

.binary-helper-container input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
	appearance: textfield;
}

.binary-helper-container input[type="number"]:hover::-webkit-inner-spin-button,
.binary-helper-container input[type="number"]:hover::-webkit-outer-spin-button {
	opacity: 1;
}

.binary-helper-group header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	gap: 1rem;
}

.binary-helper-group header input {
	width: 2rem;
	padding: 0.5rem;
	text-align: center;
}
.circle-button {
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	display: flex;
	margin-top: 1rem;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: 3px solid var(--primary);
	color: var(--primary);
	background-color: transparent;
	cursor: pointer;
}

.circle-button:focus {
	outline: none;
}

.circle-button:active {
	background-color: var(--primary);
}

.binary-button-group {
	display: flex;
	gap: 1rem;
}

.binary-helper-group .toggle-button {
	padding: 1rem;
	border-radius: 10px;
	background: transparent;
	color: var(--font-color);
	font-size: 1rem;
}

.binary-helper-group {
	border: 3px solid var(--primary);
	border-radius: 10px;
	margin-bottom: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.binary-group-powers-of-two {
	display: flex;
	flex-wrap: nowrap;
	gap: 1rem;
}

.binary-helper-container article {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.result-decimal-display {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 1rem;
}

.result-decimal-display div {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.result-decimal-display p:last-child {
	padding-left: 1rem;
}
.hidden {
	color: transparent;
}

.decimal-group-container {
	display: flex;
	flex-wrap: nowrap;
	gap: 0rem;
}

.decimal-number {
	padding: 0.5rem;
}

.binary-group-powers-of-two {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 1.2rem;
}

.binary-groups-powers-of-two p {
	width: 2rem;
	padding: 1.5rem;
}

.decimal-group-bits input,
.binary-group-labels input,
.binary-group-mask input,
.bit-button {
	width: 1.5rem;
	padding: 0.5rem;
	text-align: center;
}

.bit-button {
	width: 40px;
	height: 40px;
}

.binary-group-labels {
	margin-left: 1rem;
}

.binary-group-labels input {
	width: 5rem;
	margin-left: 1rem;
}

.binary-group-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding-bottom: 1rem;
}

.shift-buttons {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.decimal-result {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	min-width: 12rem;
}

.decimal-result p {
	padding: 0.5rem;
}

@media (max-width: 1500px) {
	.binary-helper-group article {
		flex-direction: column;
	}

	.shift-buttons {
		margin: 0;
	}

	.binary-group-right {
		margin: 0;
		padding: 0;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		gap: 4rem;
	}

	.hidden {
		display: none;
	}

	.binary-group-row-labels {
		display: none;
	}

	@media (max-width: 1000px) {
		.binary-group-powers-of-two * {
			font-size: 0.75rem;
		}

		.binary-helper-group article {
			padding: 0;
			margin: 0;
		}

		.bit-button {
			width: 35px;
			height: 35px;
		}

		.binary-group-right {
			gap: 0;
		}

		.result-decimal-display div {
			margin: 0;
			padding: 0;
			gap: 0;
		}

		.binary-group-right * {
			font-size: 1.25rem;
			padding: 0;
			margin: 0;
			justify-content: center;
		}
	}

	@media (max-width: 400px) {
		.binary-group-powers-of-two {
			gap: 0.75rem;
		}
		.binary-group-powers-of-two * {
			font-size: 0.5rem;
		}

		.binary-group-right {
			font-size: 1rem;
			padding: 0;
			margin: 0;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		.bit-button {
			width: 25px;
			height: 25px;
		}
	}
}
