.resize-vertical-only {
  resize: vertical;
}

.tool-container {
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.tool-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: flex-start;
  align-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.tool-title {
  font-size: 1.61rem;
  text-align: center;
}

.field {
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  background-color: var(--bg-level-1);
  color: var(--font-color);
  box-sizing: border-box;
  font-size: 1rem;
  transition: border-color 0.25s;
}

.field:focus {
  border-color: var(--border);
  outline: none;
}

.copy-button {
  width: fit-content;
}

.field-with-copy-container {
  width: 260px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.fixed-bottom {
  margin-bottom: 20px;
  margin-top: auto;
}

.field-label {
  text-align: center;
}

.centered-column-field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-left: 20%;
}

.mode-section {
  padding: 1rem;
  font-size: 2rem;
  color: var(--font-color);
  display: flex;
  align-content: center;
  justify-content: center;
}

.bottom-warning {
  font-size: 0.8rem;
  margin-top: auto;
  padding: 0.8rem;
}

.timer-display {
  font-size: 2em;
  font-weight: bold;
  border-radius: 1rem;
  width: 10rem;
  height: 4rem;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-600);
}

.tooltip {
  position: absolute;
  width: 3.5rem;
  align-self: center;
  background-color: var(--tint-2);
  color: var(--font-color);
  padding: 7px;
  border-radius: 0.3rem;
}
