:root {
  --primary-50: #f0faff;
  --primary-100: #e1f3fd;
  --primary-200: #bce7fb;
  --primary-300: #67cef7;   /* Original primary */
  --primary-400: #3ec2f2;
  --primary-500: #14abe3;
  --primary-600: #0889c1;
  --primary-700: #086e9c;
  --primary-800: #0b5c81;
  --primary-900: #0f4d6b;
  --primary-950: #0a3147;
  --secondary-50: #f8f7ee;
  --secondary-100: #eeebd3;
  --secondary-200: #ded6aa;
  --secondary-300: #c5b36a;  /* Original secondary */
  --secondary-400: #bba254;
  --secondary-500: #ac8f46;
  --secondary-600: #93743b;
  --secondary-700: #775731;
  --secondary-800: #64492f;
  --secondary-900: #573e2c;
  --secondary-950: #312117;
  --support-50: #f4f7f2;
  --support-100: #e5ecdf;
  --support-200: #cad9c1;
  --support-300: #a3bd98;
  --support-400: #84a578;  /* Original support */
  --support-500: #577f4a;
  --support-600: #416437;
  --support-700: #32502c;
  --support-800: #294025;
  --support-900: #23351f;
  --support-950: #131e10;
  --border: #979797;

  /* Light theme specific */
  --background: white;
  --bg-level-1: #f3f3f3;
  --bg-level-2: #f0f0f0;
  --tint-1: #cfcfcf;
  --tint-2: #eaeaea;
  --tint-3: white;
  --btn-disabled: var(--primary-100);
  --btn-disabled-text: var(--primary-400);
  --font-color: #101010;
  --title-color: #101010;
  --link-color: var(--primary-600);
}

[theme = "dark"] {
  --background: #101010;
  --bg-level-1: #2a2a2a;
  --bg-level-2: #222222;
  --tint-1: #202020;
  --tint-2: #232323;
  --tint-3: #333333;
  --btn-disabled: var(--primary-950);
  --btn-disabled-text: var(--primary-700);
  --font-color: white;
  --title-color: var(--primary-300);
  --link-color: white;
}

* {
  transition: all 0.1s ease-out;
}

html {
  min-height: 100vh;
}

body {
  font-family: Inter, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--font-color);
  background-size: cover;
  background-color: var(--background);
}

a {
  color: var(--link-color);
}

h1 {
  margin-top: 2%;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--title-color);

  overflow: visible;
}

h2 {
  margin-top: 2%;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--title-color);

  overflow: visible;
}

h3 {
  margin-top: 2%;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--title-color);

  overflow: visible;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--font-color);
  text-align: left;

  overflow: visible;
  overflow-wrap: break-word;
}

ul {
  font-size: 1.2rem;
}

table {
  color: var(--font-color);
  background-color: var(--tint-2);
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-collapse: collapse;
  border-radius: 1rem;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--font-color);
  background-color: var(--tint-1);
}

td {
  padding: 3px;
}

.error-text {
  font-family: monospace;
  color: var(--font-color);
}

.button-group {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-group:last-child {
  margin-right: 0;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.primary-button {
  background-color: var(--primary-500);
  &:hover {
    background-color: var(--primary-600);
  }
  &:active {
    background-color: var(--primary-700);
  }
}

.support-button {
  background-color: var(--support-500);
  &:hover {
    background-color: var(--support-600);
  }
  &:active {
    background-color: var(--support-700);
  }
}

.secondary-button {
  background-color: var(--secondary-500);
  &:hover {
    background-color: var(--secondary-600);
  }
  &:active {
    background-color: var(--secondary-700);
  }
}

.keyboard-stroke {
  font-family: monospace;
  border: 1px solid var(--secondary-600);
  border-radius: 0.5rem;
  padding-left: 3px;
  padding-right: 3px;
  color: var(--secondary-600);
}