:root {
  --background: #777;
  --bg-level-1: #B8B8B8;
  --bg-level-2: #CFCFCF;
  --bg-level-3: #DEDEDE;
  --bg-level-4: #F2F2F2;

  --border: #979797;

  --font-color: #101010;
  --font-color-accent: #000000;
  --font-color-button: #DEDEDE;
  --primary: #075978;
  --primary-accent: #67cef6;
  --secondary: #5c5124;
  --secondary-accent: #c5b36a;
  --support: #536e49;
  --support-accent: #84a578;
}

[theme = "dark"] {
  --background: #101010;
  --bg-level-1: #1a1a1a;
  --bg-level-2: #262626;
  --bg-level-3: #363636;
  --bg-level-4: #474747;

  --border: #979797;

  --font-color: #f1f1f1;
  --font-color-accent: #ffffff;
  --font-color-button: #262626;
  --primary: #67cef6;
  --primary-accent: #075978;
  --secondary: #c5b36a;
  --secondary-accent: #5c5124;
  --support: #84a578;
  --support-accent: #536e49;
}

* {
  transition: all 0.1s ease-out;
}


html {
  min-height: 100vh;
}

body {
  font-family: Lato, Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--font-color-accent);

  background-size: cover;
  background-color: var(--background);
}

a {
  color: var(--primary);
}

h1 {
  margin-top: 2%;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--primary);

  overflow: visible;
}

h2 {
  margin-top: 2%;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.625rem;
  color: var(--primary);

  overflow: visible;
}

h3 {
  margin-top: 2%;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: var(--primary);

  overflow: visible;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--font-color-accent);
  text-align: left;

  overflow: visible;
  overflow-wrap: break-word;
}

table {
  color: var(--font-color);
  background-color: var(--bg-level-3);
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--font-color-accent);
  background-color: var(--bg-level-4);
}

td {
  padding: 3px;
}

.error-text {
  font-family: monospace;
  color: var(--font-color);
}

.button {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  justify-content: center;
  align-content: center;
}

.primary-button {
  background-color: var(--primary);
  color: var(--background)
}

.primary-button:hover {
  background-color: var(--primary-accent);
  color: white;
  box-shadow: inset 0 0 0.2rem var(--background);
}

.support-button {
  background-color: var(--support);
  color: var(--background);
}

.secondary-button {
  background-color: var(--secondary);
  color: var(--background);
}

.secondary-button:hover {
  background-color: var(--secondary-accent);
  color: var(--font-color-accent);
  box-shadow: inset 0 0 0.2rem var(--background);
}

.support-button:hover {
  background-color: var(--support-accent);
  color: white;
  box-shadow: inset 0 0 0.2rem var(--background);
}

.tertiary-button {
  background-color: var(--bg-level-1);
  color: var(--font-color);
}

.tertiary-button:hover {
  background-color: var(--bg-level-4);
  color: var(--font-color-accent);
  box-shadow: inset 0 0 0.2rem var(--background);
}

.keyboard-stroke {
  font-family: monospace;
  border: 1px solid #404040;
  border-radius: 0.5rem;
  padding-left: 3px;
  padding-right: 3px;
  color: var(--secondary)
}