.dark-mode {
  padding: 4px;
  display: flex;
  justify-content: flex-end;
}

.dark-mode-label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.dark-mode-label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.dark-mode-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark-mode-input:checked + .dark-mode-label {
  background: #242424;
}

.dark-mode-input:checked + .dark-mode-label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.dark-mode-label:active:after {
  width: 30px;
}

.dark-mode-label svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}

.dark-mode-label svg.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}

.dark-mode-label svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}

.dark-mode-input:checked + .dark-mode-label svg.sun {
  fill: #7e7e7e;
}

.dark-mode-input:checked + .dark-mode-label svg.moon {
  fill: #fff;
}
