.main-container {
  display: flex;
  flex-direction: column;
  gap: 3px;

  padding: 8px;
  height: calc(100vh - 16px);
  min-width: calc(320px - 16px);
}

.box {
  background-color: var(--bg-level-1);
  border-radius: 0.5rem;
}

.tool-list {
  width: 20%;
  min-width: 186px;
  max-width: 300px;
  height: 100%;
  overflow-y: auto;
}

.category-title {
  font-size: 1rem;
  color: var(--font-color);
  font-family: monospace;
  font-style: normal;
  background-color: var(--tint-1);
}

.tool-list ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 1px;
}

.tool-list li {
  text-decoration: none;
}

.tool-list-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-family: monospace;
  padding: 10px 4px;
  font-size: 1rem;
}

.core-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 350px;
  gap: 3px;
}

.tool-link {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-family: monospace;
  color: var(--font-color);
  padding: 6px 9px;
  background-color: var(--tint-2);
  transition: background-color 0.3s ease;
  min-height: fit-content;
}

.tool-link:hover {
  background-color: var(--primary-600);
  color: white;
}

.tool-link.active {
  background-color: var(--primary-700);
  color: white;
  font-weight: bold;
}

.toolbox-footer {
  display: flex;
  align-items: center;
  width: max(100%, 290px);
}

.toolbox-footer-text {
  color: var(--font-color);
  font-size: 1rem;
  font-family: monospace;
  margin-left: 15px;
  margin-right: 15px;
}

summary {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1px;
}

.search-bar {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 20px) !important;
}

@media only screen and (max-width: 600px) {
  .tool-list {
    min-width: 100%;
  }

  .tool-list ul {
    gap: 1px;
  }

  .toolbox-footer-text {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }

  .bm-burger-button {
    position: fixed;
    width: 30px;
    height: 30px;
    right: 25px;
    top: 36px;
  }

  .bm-burger-bars {
    margin-right: 20px;
    width: 30px;
    background: var(--font-color);
  }
}
